a:link, a:visited{
    text-decoration: none;
    color: darkgrey;
}

a:hover{
    color: dimgrey;
}

html {
    height: 100%;
}

body {
    background-color: black;
    min-height: 100%;
    font-weight:bold;
    font-family: 'redRoseBold';
}

.logo {
    height: auto;
    width: 20%
}

.center-div
{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
    padding-bottom:20%;
}

@font-face {
    font-family: "redRoseBold";
    url('../fonts/redrose/RedRose-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}