a:link, a:visited{
    text-decoration: none;
    color: darkgrey;
}

a:hover{
    color: dimgrey;
}

body {
    background-color: black;
    font-weight:bold;
}

.logo {
    height: auto;
    width: 60%
}